*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: transparent;
  
}

body{
    background-color: #F7F1E5;
    
}


.box{
   
    height:100%; 
    width: 50%;
    background-image: linear-gradient(45deg, #FC2947, #f38a3e );;
    align-items: center;
    position: fixed;
    display: table;
    margin-top: -10px;
    margin-bottom: -5px;
    
    
    
    

}
input{
    color: #000;
    background-color: aliceblue;
    font-size: 20px;
    text-align: 10px ;
    width: 400px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: center;
    align-items: center;
    position: relative;
    


}



.cadastro{
        background-color: #F7F1E5;
        font-size: 5vh;
        text-align: center;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        width: 90%;
        margin-top: 5%;
        border-color: #777777;
        border-style:solid;
        box-sizing: border-box;
        box-shadow: 0 0 1rem rgb(255, 255, 255);
        
    }



button{
margin-top: 30px;
font-size: 20px;
background-color: #f18241;;
border-radius: 10px;
height: 30px;
width: 90px;
border: none;
cursor: pointer;
}

button:hover{
    background-color: #F97B22;
}
button:active{
    opacity: 0.7;
}

a{
    color: black;
    font-size: 15px;
    opacity: 1;
}
a:hover{
    opacity: 0.7;
}
.information{
    
    background-color: #ce5555;
    position: relative;
    margin-left: 700px; 
    margin-right: 30px;   
    text-align: center;
    border-radius: 20px;
}
.imagens{
    
    margin-top: 10px;
    text-align: center;  
    font-size: 35px;
}
.texto{
    margin-right: 10px;
    margin-left: auto;
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}